<!-- Page Header -->
<%
    var cover = theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="page-heading">
          <h1>Apps</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article id="apps">
  <div class="container">
    <!-- Projects Row -->
    <div class="row">
      <div class="col-md-10">
      <%- page.content %>
      <% for (var p in site.data.apps.body){ %>
        <div class="col-md-6 img-portfolio">
            <a href="<%- site.data.apps.body[p].target_url %>" target="_blank">
                <img class="img-responsive img-hover" src="<%- site.data.apps.body[p].image_url || "http://placehold.it/700x400" %>" alt="">
            </a>
            <h3>
                <a href="<%- site.data.apps.body[p].target_url %>" target="_blank"><%- p %></a>
            </h3>
            <p><%- site.data.apps.body[p].description %></p>
        </div>
      <% } %>
    </div>
    </div>
    <!-- /.row -->
  </div>
</article>
