<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->

<script type="text/javascript" charset="utf-8">
  document.addEventListener('DOMContentLoaded', function () {
    var pg = particleground(document.getElementById('particles'), {
      dotColor: '#404040',
      lineColor: '#404040',
      minSpeedX: 0.01,
      minSpeedY: 0.01,
      maxSpeedX: 0.03,
      maxSpeedY: 0.03,
      directionX: 'center',
      directionY: 'center',
      proximity: 100,
      density: 6000,
      parallax: false
    });
    <!-- pause execution -->
    pg.pause();
  }, false);
</script>

<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
  <div id="particles">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="site-heading">
                    <h1><%- config.subtitle %></h1>
                    <!-- <hr class="small"> -->
                    <span class="subheading"><%- config.description %></span>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>


<% var index_md; %>
<% site.pages.each(function(item){ %>
  <% if (item.source == 'index.md') { %>
    <% index_md = item %>
  <% } %>
<% }); %>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%- index_md.content %>
    </div>
    <div class="col-md-2">
      <div id="sidebar" class="nav hidden-print hidden-sm hidden-xs affix-top" data-spy="affix" data-offset-top="380">
        <%- index_md.menu %>
      </div>
    </div>
  </div>
</div>
