<!-- Page Header -->
<%
    var cover = theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="page-heading">
          <h1>Topics</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <% site.posts.each(function(item){ %>
                <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>

            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>
